body {
  padding: 0;
  margin: 0;
  width: 100%;
}
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4em;
}
.logo--image {
  align-items: center;
}
.logo--text {
  margin-left: auto;  /* 左側のスペースを自動で埋める */
  margin-right: auto; /* 右側のスペースも自動で埋める */
  align-items: center;
  font-size: 2em;
}
.menu--container {
  padding: 0;
  margin: 0;
  display: flex;           /* 子要素をフレックスコンテナにする */
  justify-content: center; /* 水平方向に中央揃え */
}
.menu--list {
  text-align: center;
  width: 100%;
  height: 3em;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.menu--text {
  font-size: 1em;
}